TELEGRAM_TOKEN=TELEGRAM_TOKEN
SERVER_URL=FLY_APP_URL
CHAT_GPT_KEY=GPT_KEY
ALLOWED_GROUP_IDS=IDS_WITH_PIPE_SEPARATOR
MAX_GPT_TOKENS_PER_USER=RECOGNIZE_GPT_TOKENS_PER_USER
WHISPER_MUST_KNOW_TERMS_PROMPT=CONFIGURE_TERMS
TRANSCRIPTION_METHOD='METHOD'
AI_INSTRUCTIONS='You are an assistant for post processing text transcriptions made by the "whisper-1 model". Its objective is to improve the text for easier reading, using "line breaks after paragraphs" while maintaining the original context of the text'
PORT=8080