TELEGRAM_TOKEN=TELEGRAM_TOKEN
SERVER_URL=FLY_APP_URL
CHAT_GPT_KEY=GPT_KEY
ALLOWED_GROUP_IDS=IDS_WITH_PIPE_SEPARATOR
MAX_GPT_TOKENS_PER_USER=RECOGNIZE_GPT_TOKENS_PER_USER
WHISPER_MUST_KNOW_TERMS_PROMPT=CONFIGURE_TERMS
PORT=8080